.modal {
  margin-left: 10vw !important;
  text-align: center !important;
  z-index: 99999999999999 !important; }

.vertical-alignment-helper {
  display: table;
  height: 100%;
  width: 100%; }

.vertical-align-center {
  /* To center vertically */
  display: table-cell;
  vertical-align: middle; }

.modal-content {
  /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
  width: inherit;
  height: inherit;
  /* To center horizontally */
  margin: 0 auto;
  padding: 15px !important; }
