<div class="col-md-9 title">
    <h1>{{vm.currentCategory}} Stories</h1>
</div>
<div class="col-md-9 discoverContent">
   <div class="story" ng-repeat="story in vm.stories">
       <div class="col-md-2 storyCover">
            <img src="{{story.cover}}">
        </div>
        <div class="description">
            <h3>{{story.title}}</h3>
            <h3>By: {{story.user}}</h3>
            <p>{{story.description}}</p>
            <button ng-click="vm.read(story.url)" ui-sref="story">Read</button>
            <button class="btn" data-toggle="modal" ng-click="vm.addStory(story)" data-target="#myModal">+</button>
        </div>
   </div>
</div>
<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <!-- Modal content-->
            <div class="modal-content" ng-repeat="story in vm.modalStory">
                <div class="modal-body">
                    <h3 class="modal-title">{{story.title}}</h4>
                    <div class="storyCover">
                        <img src="{{story.cover}}">
                    </div>
                    <p>{{story.description}}</p>
                </div>
                <div class="modal-footer">
                    <form>
                        <select id="listAdd">
                            <option value="">Select a List</option>
                            <option ng-repeat="list in vm.lists" value="{{list.id}}" ng-model-options="vm.addList">{{list.name}}</option>
                        </select>
                        <button type="submit" ng-click="vm.add(story.id)" class="btn btn-default" data-dismiss="modal">Add</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>