<div class="loginContainer">
    <div class="introText col-md-12">
        <h2>Whatever you're into, it's all free on Wattpad: the world's largest community for readers and writers.</h2>
        <h1><span class="typing-title"></span></h1>
    </div>
    <div class="login col-md-12">
        <div class="logBtn">
            <a href="https://www.wattpad.com/oauth/code?api_key=Fvp8gpfkCVCLMKp2ECK1jHzCXC7CiWvXXCDRgJY9I2rm&scope=read&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2F%23%21%2Fcallback">Login with <img src="//a.wattpad.com/img/mobile-web/wattpad_logo_140.png" alt="Wattpad"/></a>
        </div>
    </div>
</div>