<!DOCTYPE html>
<html ng-app="wattpad" lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="css/tinyscrollbar.css" rel="stylesheet">
        <link href="css/main.css" rel="stylesheet">
        <link href="css/burger.css" rel="stylesheet">
        <link href="css/home.css" rel="stylesheet">
        <link href="css/login.css" rel="stylesheet">
        <link href="css/discover.css" rel="stylesheet">
        <link href="css/modal.css" rel="stylesheet">
        <link href="css/profile.css" rel="stylesheet">
    </head>
    <body ng-controller="mainController as vm">
        <div class="burger">
            <div class="bar"></div>
        </div>
        <div ng-controller="discoverController as vm" class="logo" ng-click="vm.hS()" ui-sref="home">
            <img src="//a.wattpad.com/img/desktop-web/wattpad_logo_40.png">
        </div>
        <div class="customNav col-md-1">
            <canvas id="navigation"></canvas> 
        </div>
        <div class="content col-md-11">
            <section ui-view></section>
            <div class="menu hidden col-md-12" ng-controller="discoverController as vm">
                <ul class="nav">
                    <li class="dropdown">
                    <a  class="dropdown-toggle discover" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Discover<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                            <li class="dropdownList">
                                <p class="category" ng-click="vm.changeCategory('Recommended')" ui-sref="discover({category: 'recommended'})">Recommended</p>
                                <p class="category" ng-click="vm.changeCategory('Action')" ui-sref="discover({category: 'action'})">Action</p>
                                <p class="category" ng-click="vm.changeCategory('Non-Fiction')" ui-sref="discover({category: 'non-fiction'})">Non-Fiction</p>
                                <p class="category" ng-click="vm.changeCategory('Adventure')" ui-sref="discover({category: 'adventure'})">Adventure</p>
                                <p class="category" ng-click="vm.changeCategory('Paranormal')" ui-sref="discover({category: 'paranormal'})">Paranormal</p>
                                <p class="category" ng-click="vm.changeCategory('ChickLit')" ui-sref="discover({category: 'chicklit'})">ChickLit</p>
                                <p class="category" ng-click="vm.changeCategory('Poetry')" ui-sref="discover({category: 'poetry'})">Poetry</p>
                                <p class="category" ng-click="vm.changeCategory('Classics')" ui-sref="discover({category: 'classics'})">Classics</p>
                                <p class="category" ng-click="vm.changeCategory('Fanfiction')" ui-sref="discover({category: 'fanfiction'})">Fanfiction</p>
                                <p class="category" ng-click="vm.changeCategory('Romance')" ui-sref="discover({category: 'romance'})">Romance</p>
                                <p class="category" ng-click="vm.changeCategory('Fantasy')" ui-sref="discover({category: 'fantasy'})">Fantasy</p>
                                <p class="category" ng-click="vm.changeCategory('Science Fiction')" ui-sref="discover({category: 'science_fiction'})">Science Fiction</p>
                                <p class="category" ng-click="vm.changeCategory('General Fiction')" ui-sref="discover({category: 'general_fiction'})">General Fiction</p>
                                <p class="category" ng-click="vm.changeCategory('Short Story')" ui-sref="discover({category: 'short_story'})">Short Story</p>
                                <p class="category" ng-click="vm.changeCategory('Historical Fiction')" ui-sref="discover({category: 'historical_fiction'})">Historical Fiction</p>
                                <p class="category" ng-click="vm.changeCategory('Spiritual')" ui-sref="discover({category: 'spiritual'})">Spiritual</p>
                                <p class="category" ng-click="vm.changeCategory('Horror')" ui-sref="discover({category: 'horror'})">Horror</p>
                                <p class="category" ng-click="vm.changeCategory('Teen Fiction')" ui-sref="discover({category: 'teen_fiction'})">Teen Fiction</p>
                                <p class="category" ng-click="vm.changeCategory('Humor')" ui-sref="discover({category: 'humor'})">Humor</p>
                                <p class="category" ng-click="vm.changeCategory('Vampire')" ui-sref="discover({category: 'vampire'})">Vampire</p>
                                <p class="category" ng-click="vm.changeCategory('Mystery / Thriller')" ui-sref="discover({category: 'mystery'})">Mystery / Thriller</p>
                                <p class="category" ng-click="vm.changeCategory('Werewolf')" ui-sref="discover({category: 'werewolf'})">Werewolf</p>
                            </li>
                        </ul>
                        <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{vm.usrName}}<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <p class="category" ng-click="vm.hS()" ui-sref="profile">View Profile</p>
                            <p class="category" ng-click="vm.hS()" ui-sref="lists">Reading Lists</p>
                        </ul>
                        </li>
                    </li>
                </ul>
                <form ng-submit="vm.hS(); vm.search()">
                    <input type="text" placeholder="search" ng-model="vm.searchTxt">
                    <input type="submit">
                </form>
                <button class="logOut" ui-sref="home" ng-click="vm.logout(); window.location.reload(); vm.hS()">Log Out</button>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="./node_modules/angular/angular.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.0/angular-ui-router.js"></script>
        <script src="./js/typed.js"></script>
        <script src="./js/jquery.tinyscrollbar.js"></script>
        <script src="./js/canvas.js"></script>
        <script src="./js/main.js"></script>
        <script src="./js/controllers/mainController.js"></script>
        <script src="./js/controllers/homeController.js"></script>
        <script src="./js/controllers/discoverController.js"></script>
        <script src="./js/controllers/profileController.js"></script>
        <script src="./js/services/API.js"></script>
    </body>
</html>